* {
  box-sizing: border-box;
  margin: 0;
  padding: auto;
}

.body {
  display: flex;
}

.aside {
  background-color: cadetblue;
  height: 630px;
  margin-top: 20px;
  padding: 3px;
  width: 400px;
}

li {
  list-style-type: none;
  margin-top: 1px;
  padding: 0.2px;
}

.Search-box {
  border: solid 2px cadetblue;
  border-radius: 10px;
  height: 630px;
  margin: 20px;
  text-align: center;
  width: 100%;
}

.input-search {
  border-radius: 20px;
  margin-left: 170px;
  margin-top: 20px;
  padding: 5px;
  width: 60%;
}

.search-button {
  background: cadetblue;
  border: none;
  border-radius: 0 7px 7px 0;
  cursor: pointer;
  font-weight: 777;
  height: 32px;
  margin-left: 10px;
  width: 70px;
}

.cart-icon-link {
  color: cadetblue;
  margin-left: 50px;
  margin-top: 40px;
}

.text-home {
  margin-top: 20px;
}
